.loginHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}

.title {
    color: #4236c4;
    font-size: 2.2rem;
    margin-left: 20px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}

.loginBtn {
    background-color: #23a142;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    outline: 0;
    border: 0;
    font-size: 1.1rem;
    cursor: pointer;
}

.loginBtn:hover {
    background-color: #1e8e3e;
}

.redBtn {
    background-color: #d0342c;
}

.greenBtn {
    background-color: #1db954;
}

.logoutBtn {
    display: flex;
    align-items: center;
}

.userSection {
    display: flex;
    align-items: center;
}

.userSection img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.loginBtn .fa-svg {
    margin-left: 14px;
    color: white;
}
